body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./src/image/Autobus_Fondo.jpg);
    h1 {
        font-size: 2em;
        display: flex;
        align-items: center;
    }
    h1 img {
        max-height: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
        margin-right: 10px; /* Espacio entre la imagen y el texto */
    }
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2 30px 30px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 2.5em;
    margin-bottom: 40px;
}

#formsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.formBox {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.formBox label {
    color: #333333;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.formBox input[type="text"],
.formBox input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formBox input[type="text"]:focus,
.formBox input[type="number"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}

.formBox button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.formBox button:hover {
    background-color: #0056b3;
}

button#dfsBtn {
    background-color: #1a59aa;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: center;
}

button#dfsBtn:hover {
    background-color: #218838;
}

#resultContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 50px;
    color: #333333;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}
